

<html>
    <p>Email validation code:</p>
    <h1><%-code%></h1>
    <br>
    <p> ...Or folow this link: </p>
    <a href="https://web.<%-baseDomain%>/login?email_confirmation_code=<%-code%>&email_as_hex=<%-Buffer.from(email,"utf8").toString("hex")%>">Validate my email</a> 
<html>