<div class="col-md-12 bb pb5">
    <button type="button" class="btn btn-default m5">Details</button>
    <button type="button" class="btn btn-default m5">
        <i class="fa fa-arrow-left"></i>
    </button>
    <button type="button" class="btn btn-default m5">Delete</button>
    <button type="button" class="btn btn-success m5">Share</button>
    <button type="button" class="btn btn-primary m5">Phonebook</button>
    <button type="button" class="btn btn-default m5">Rename</button>
    <button type="button" class="btn btn-default">
        <i class="fa fa-fw"></i>
    </button>
</div>