<!doctype html>

<div class="id_SimRow">
    <div class="id_row col-md-12 bb p10">
        <i class="im-screen mr10"></i>
        <span class="id_simId strong mr10">My sim1 (06 54 99 63 85)</span>
        <span class="id_connectivity mr10">Online/Offline</span>
        <span class="id_ownership hidden-xs">owned</span>
    </div>
    <div class="id_details col-md-12 p5">
        <p>
            <span class="strong p10">Connectivity:&nbsp;</span>
            <span class="id_connectivity">Online</span>
        </p>
        <p>
            <span class="strong p10">Owner:&nbsp;</span>
            <span class="id_owner">Me</span>
        </p>
        <p>
            <span class="strong p10">Phone number:&nbsp;</span>
            <span class="id_number">+33636786385</span>
        </p>
        <p>
            <span class="strong p10">Features:&nbsp;</span>
            <span class="id_features">Voicecalls + SMS</span>
        </p>
        <p>
            <span class="strong p10">Service privider:&nbsp;</span>
            <span class="id_serviceProvider">Lilliad/Free Mobile</span>
        </p>
        <p>
            <span class="strong p10">IMSI:&nbsp;</span>
            <span class="id_imsi">332344242344</span>
        </p>
        <p>
            <span class="strong p10">ICCID:&nbsp;</span>
            <span class="id_iccid">2343334340342343</span>
        </p>
        <p>
            <span class="strong p10">Phonebook:&nbsp;</span>
            <span class="id_phonebook">12/123</span>
        </p>
    </div>
</div>